<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
  </head>
  <body>
    <h1>Tasks</h1>
    <ul>
      <li>
        <%= taskName %>
      </li>
    </ul>
  </body>
</html>
