<%- include("Partials/header"); %> 

<body>
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="blog_title" placeholder="Enter blog title...">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Post</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="blog" ></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Publish">
    </form>
</body>

<%- include("Partials/footer"); %> 