body {
  font-family: "Montserrat", sans-serif;
}

.intro {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

/* .navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: #F8758B;
} */
.nav-item {
  padding-left: 0;
  padding-right: 15px;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem !important;
}

.nav-link:hover {
  color: black !important;
}

.navbar-brand {
  color: white !important;
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

#topcontainer {
  background-color: #ff4c68;
  padding: 2% 15%;
}

.navbar {
  padding-left: 0;
  padding-bottom: 4.5rem;
}

.iphone6 {
  transform: rotateZ(25deg);
  width: 60%;
  margin-left: 13%;
  margin-top: 10%;
}

/* mid container */
/* icons */
.check {
  text-align: center;
  margin: 0 auto 5% 47%;
  color: #ef8172;
}

.check:hover {
  color: red;
}

.bullseye {
  text-align: center;
  margin: 0 auto 5% 47%;
  color: #ef8172;
}

.bullseye:hover {
  color: red;
}

.heart {
  text-align: center;
  margin: 0 auto 5% 47%;
  color: #ef8172;
}

.heart:hover {
  color: red;
}

/* icon */
.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.info {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #8f8f8f;
}

#features-info {
  margin: 10% 0 10% 0;
}

.feat {
  margin: 5% 0 5% 0;  /* separates the elements of features block in mobile mode */
  padding-left: 0;
  padding-right: 0;
}
